img {
    width: 50px;
    aspect-ratio: 1 / 1;
}
.button-container {
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.button-label {
    height: 100%;
    padding: 10px;
    margin: 0;
    font-size: 25px;
}