<div class="form-container">
    <form formGroup="loginForm" (submit)="login()">
        <div><label for="usernameInput"> User Name: </label>
            <input formControlName="username" id="usernameInput" type="text" name="username"/>
        </div>
        <div>
            <label for="passwordInput"> Password: </label>
            <input formControlName="password" id="passwordInput" type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Sign In"/>
        </div>
    </form>



    <p>Admin   94d5ous@gmail.com    uzWC67</p>
    <p>Manager 1diph5e@tutanota.com 8ntwUp</p>
    <p>User    5d4zbu@tutanota.com  rwVDh9</p>
</div>
