<div class="grid-container">
    <div class="img-container">
        <img />
    </div>
    <div class="info-container">
        <p><b>{{product.category}} | {{product.name}}</b></p>
        <p>
            <br>{{product.description}}
            <br>{{product.manufacturer}}
            <br>{{product.provider}}
            <br>{{product.price}}
            <br>{{product.amount}} {{product.unit}}
        </p>
    </div>
    <div class="discount-container">
        <p>{{product.discount}}%</p>
    </div>
</div>