$border-radius: 15px;

body {
  padding: 0px;
  margin: 0px;
}

.error-container {
  white-space: pre-line;
  width: fit-content;
  max-width: 40rem;
  padding: 10px;
  margin-top: 20px;
  font-size: 1.2rem;
  background-color: #fef2f2;
  border: 2px solid #fca5a5;
  border-radius: $border-radius / 2;
  box-shadow: 0 4px 15px rgba(#7f1d1d, 0.2);
  border-width: 2px;
  color: #7f1d1d;
}

.info-container {
  white-space: pre-line;
  width: fit-content;
  max-width: 40rem;
  padding: 10px;
  margin-top: 20px;
  font-size: 1.2rem;
  background-color: #f0fdf4;
  border: 2px solid #86efac;
  border-radius: $border-radius / 2;
  box-shadow: 0 4px 15px rgba(#166534, 0.2);
  border-width: 2px;
  color: #166534;
}
